.binColour{
    background-color: rgb(245, 245, 0);
}
.bgColour{
    background-color: rgb(240, 240, 240);
}
.tileColour{
    background-color:rgb(227, 224, 224);
}
.layoutcls{
    justify-self: auto;
}